body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 32, 24);
    background-image: url('./img/honda.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:65%;
    background-position-x: center;
    background-position-y: bottom;
}

header {
    background-color: rgb(225, 200, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

#carro1 {
    height: 5%;
    width: 5%;
    float: left;
    margin-left: 270px;
    border-radius: 50px;
}

#carro2 {
    height: 5%;
    width: 5%;
    float: right;
    margin-right: 270px;
    border-radius: 50px;
}

.areaBotoes {
    margin-top: 20px;
    margin-bottom: 30px;
}


#meu_fieldset {
    width: 900px;
}

#legenda {
    
    width: fit-content;
    font-family: 'Amatic SC', cursive;
    font-size:200%;
}

.buscaItem {
    background-color: rgba(149, 167, 46, 0.92);
    padding: 30px 40px;
    color: rgb(89, 64, 64);
    display: none;
    justify-content: center;
}

.newItem {
    background-color: rgb(63, 74, 7, 0.9);
    padding: 30px 40px;
    color: white;
    display: none;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.deletaItem {
    background-color: rgba(247, 9, 9, 0.8);
    padding: 30px 40px;
    color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
}

#novoFuncionario {
    margin: 0;
    border: 3px solid rgb(62, 246, 12);
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-left: 50px;
    border-radius: 50px;
}

#novoSetor {
    margin: 0;
    border: 3px solid rgb(62, 246, 12);
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-left: 40px;
    border-radius: 50px;
}

#novaPlaca {
    margin: 0;
    border: 3px solid rgb(62, 246, 12);
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-left: 45px;
    border-radius: 50px;
}

#placaConsultada {
    margin: 0;
    border: 3px solid rgb(62, 246, 12);
    width: 20%;
    padding: 10px;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 50px;
}

.addBtn {
    padding: 9px 20px;
    position: relative;
    float: right;
    background-color: rgb(89, 87, 82);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    margin-right: 40px;
}

.addBtn:hover {
    background-color: #f1f509;
    color: rgb(0, 0, 0);
}

.items {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: center;
    background-color: rgb(13, 6, 56, 0.5);
    color: white;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
    font-size: larger;
}

table,
th,
td {
    border: none ;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    background-color: rgba(81, 85, 221, 0.8);
    width: 100%;
}

th {
    font-size: 25px;    
}

th:nth-child(1){
    width: 44%;
}

tr:nth-child(odd){
    background-color: rgb(54, 38, 156, 0.8);
}

tr:hover {
    background: rgb(251, 244, 125);
    color: black;
}

#meu_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 35px;
}

